.riquest-form__title {
  font-size: 30px;
  font-weight: bold;
  color: #303a53;
}

.riquest-form__agree-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.riquest-form__confidence {
  text-decoration: underline;
  color: $color-steel;
}
